@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET PEDRO PEDRITO paco pedro</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>

<div>
    <p><a href="http://laptop-3n9alarf/Reports/browse/InformeCyC" class="btn btn-primary btn-lg">Abrir Admin</a></p>
    @Html.ActionLink("Mover archivos", "moveFiles")
</div>



